<div class="cc-license animated" itemprop="sponsor">
  <span class="exturl cc-opacity" title="查看许可协议。/檢視許可協議。/See Licenses." data-url="aHR0cHM6Ly9naXRodWIuY29tL3RvbnktYXB0eDQ4NjkvdG9ueS1hcHR4NDg2OS5naXRodWIuaW8vYmxvYi9tYWluL1JFQURNRS5tZA=="><img width="127" src="http://www.gnu.org/graphics/gplv3-127x51.png" alt="GPLv3"></span>
</div>
